@use "@/settings/global.scss";
@use "@/settings/breakpoints.scss" as breakpoints;

.VideoPlayer {
    iframe {
        display: flex;
        width: 100%;
        height: calc(100vh - #{global.$barSize});
        padding: 0;
        transition: padding 0.25s ease;
    }

    &.Closed {
        iframe {
            padding: 5em 10em;

            @include breakpoints.respond(mobile) {
                padding: 60% 1em;
            }
        }
    }
}
