@import "../../../../settings/breakpoints.scss";
@import "../../../../settings/layers.scss";

.BigTitle {
    position: absolute;
    z-index: $z-page;
    top: 0.25em;
    font-size: 10em;
    text-align: center;

    @include respond(desktop) {
        font-size: 12em;
    }

    @include respond(laptop) {
        font-size: 8em;
    }

    @include respond(mobile) {
        font-size: 3.5em;
        top: 2em;
    }

    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    top: 0.5em;
}
