@use "@/settings/breakpoints.scss" as breakpoints;
@use "@/settings/layers.scss" as layers;

.bigTitle {
    position: absolute;
    z-index: layers.$z-page;
    top: 0.25em;
    font-size: 10em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    top: 0.5em;

    @include breakpoints.respond(desktop) {
        font-size: 12em;
    }

    @include breakpoints.respond(laptop) {
        font-size: 8em;
    }

    @include breakpoints.respond(mobile) {
        font-size: 3.5em;
        top: 2em;
    }
}
