@use "@/settings/global.scss" as global;
@use "@/settings/breakpoints.scss" as breakpoints;
@use "@/settings/layers.scss" as layers;
@use "@/settings/materials.scss";
@use "@/settings/fonts.scss" as fonts;

.Nav {
  position: absolute;
  top: global.$barSize;
  left: global.$barSize;
  z-index: layers.$z-internal-ui;
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{global.$barSize});
  width: #{global.$sidebarSize};
  overflow-y: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  @include breakpoints.respond(mobile) {
    display: none;
  }
}
