@import "../../settings/global.scss";
@import "../../settings/materials.scss";
@import "../../settings/layers.scss";

.ActorNav {
    @include darkGlass;
    position: fixed;
    z-index: $z-internal-ui;
    bottom: 0;
    width: 100vw;
    padding: 0 $barSize;
    height: $barSize;

    @include glassEdge;
    border-width: 2px 0 0;
}
