@import "../../../settings/global.scss";
@import "../../../settings/materials.scss";
@import "../../../settings/layers.scss";
@import "../../../settings/breakpoints.scss";

.ActorNav {
    @include darkGlass;
    position: fixed;
    z-index: zPushUp($z-internal-ui, 1);
    bottom: 0;
    left: $barSize;
    width: calc(100vw - #{$barSize * 2});
    padding: 0 $barSize;
    height: $barSize;

    @include glassEdge;
    border-width: 2px 0 0;

    display: flex;
    justify-content: center;
    align-items: center;

    @extend %titleFont;
}

.Buttons {
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: -30px;
    right: 15%;

    @extend %titleFont;

    .RoundedButton {
        color: rgba(255, 255, 255, 0.7);
        background: white;
        border: none;
        outline: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        padding: 1.2em;
        margin: 0 1em;

        box-shadow: 2px 2px 20px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.ArrowLeft,
.ArrowRight {
    position: absolute;
    z-index: zPushUp($z-internal-ui, 1);
    top: calc(50% - 50px);
    width: $barSize;
    height: 100px;
    padding: 1em;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;

    img {
        width: 100%;
    }
}

.ArrowLeft {
    left: 0;

    img {
        transform: rotateZ(-90deg);
    }
}

.ArrowRight {
    right: 0;

    img {
        transform: rotateZ(90deg);
    }
}

.Ribbon {
    position: absolute;
    color: white;
    @extend %titleFont;
    font-size: 5em;
    height: 100%;
    left: $barSize;

    @include respond(laptop) {
        font-size: 3.5em;
    }

    .Text {
        position: absolute;
        bottom: calc(#{$barSize} + 1em);
        overflow: hidden;

        .Index,
        .Name {
            display: inline-block;
            line-height: 1em;
            margin: 0 0 0 60px;
        }

        .Index {
            margin-right: 0.5em;
            font-size: 3em;
        }
    }

    .Rectangle {
        position: absolute;
        z-index: -1;
        bottom: 0;
        width: 300px;
    }
}
