@use "@/settings/global.scss" as global;
@use "@/settings/layers.scss" as layers;
@use "@/settings/materials.scss" as materials;
@use "@/settings/fonts.scss" as fonts;
@use "@/settings/breakpoints.scss" as breakpoints;

.Sidebar {
  position: fixed;
  z-index: layers.zPushUp(layers.$z-internal-ui, 1);
  top: global.$barSize;
  width: global.$barSize;
  height: calc(100vh - #{global.$barSize});
  border-width: 0;

  @include materials.darkGlass;
  @include materials.glassEdge;

  &.left {
    left: 0;
    border-right-width: 2px;

    @include breakpoints.respond(mobile) {
      left: initial;
      right: 0;
      border-right-width: 0;
      border-left-width: 2px;
    }
  }

  &.right {
    right: 0;
    border-left-width: 2px;

    @include breakpoints.respond(mobile) {
      display: none;
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    width: 100%;

    a {
      padding: 1em 1.3em;
      img {
        width: 100%;
        height: auto;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .CastSections {
    display: flex;
    flex-direction: column;
    height: calc(100% - #{global.$barSize});

    a {
      display: flex;
      flex: 1;
      padding: 1em 0;
      color: white;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      writing-mode: vertical-lr;
    }
  }

  .nav-language {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: #{global.$barSize};
    line-height: #{global.$barSize};

    @include fonts.navFont;
  }
}
