@import "../../../settings/global.scss";
@import "../../../settings/layers.scss";
@import "../../../settings/breakpoints.scss";

.Content {
    display: flex;
    flex-direction: column;
    padding: 3em 5em 0;
    position: relative;
    height: 100%;
    width: 60%;

    @extend %titleFont;

    @include respond(laptop) {
        font-size: 0.8em;
        padding: 2em 4em 0;
    }

    &.Right {
        margin: 0 0 auto 0;
    }

    &.Left {
        margin: 0 0 0 auto;
    }
}

.Image {
    position: absolute;
    z-index: zPushUp($z-page, 10);
    height: 100%;
    width: 700px;

    @include respond(laptop) {
        width: 500px;
    }

    &.Right {
        right: 0;
        bottom: 0;

        img {
            left: $barSize;
        }
    }

    &.Left {
        left: calc(#{$barSize} + #{$sidebarSize});
        bottom: 0;
    }

    img {
        position: absolute;
        top: $barSize;
        height: 100%;
        padding-top: 1em;
    }
}

.Title {
    margin-top: 4rem;
    margin-bottom: 3rem;
    line-height: 10rem;
    font-size: 8em;
    text-transform: uppercase;
    padding-bottom: 30px;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 4px;

    @extend %titleFont;

    @include respond(laptop) {
        margin-top: 1.5rem;
        font-size: 6em;
        line-height: 3rem;
        margin-bottom: 1.8rem;
    }
}

.Description {
    height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}
