@import "./../../../settings/global.scss";
@import "./../../../settings/colors.scss";

.CastNav {
    position: absolute;
    top: $barSize;
    left: $barSize;
    z-index: 90;
    display: flex;
    flex-direction: column;
    height: calc(100vh - #{$barSize});
    width: 300px;
    background: $dark-color;
    overflow-y: auto;

    a {
        display: flex;
        align-items: flex-end;
        flex: 1;
        padding: 1em 1em 1em 2em;
        width: 100%;
        min-height: 120px;
        border-width: 0;
        transition: border 300ms, font-size 300ms;
        font-size: 0.9em;
        font-weight: 600;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        @extend %castNavFont;

        &.active {
            font-size: 1.1em;
            border-left-style: solid;
            border-left-width: 7px;
        }
    }

    // Lighten Border Classes 
    @each $color, $value in $fallbacks {
        @include bg-glow-border(".bg-glow-border-#{$color}", $value);
    }

    &::-webkit-scrollbar {
        display: none;
    }
}