@use "@/settings/layers.scss" as layers;

.Background {
  top: 0;
  left: 0;
  z-index: layers.zPushDown(layers.$z-background, 50);
  width: 100vw;
  height: 100vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
