@import "settings/breakpoints.scss";
@import "settings/layers.scss";

.Nav {
  align-items: center;
  display: flex;
  width: 100%;
  height: 4em;
  position: absolute;
  top: 10%;
  z-index: $z-internal-ui;

  @include respond(mobile) {
    position: relative;

    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
  }

  a {
    font-size: 1rem;
    font-family: "Draft B", sans-serif;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: 0;
    color: white;
    padding: 0 1em;
    margin: 0 1em;
    height: 100%;
    line-height: 4em;

    @include respond(mobile) {
      height: auto;
    }
  }

  &:before {
    content: "";
    background: white;
    width: 350px;
    height: 2px;
    margin-right: 2em;

    @include respond(tablet-portrait) {
      display: none;
    }
  }
}
