@use "@/settings/global.scss" as global;
@use "@/settings/layers.scss" as layers;
@use "@/settings/breakpoints.scss" as breakpoints;

:global(.PageContent) {
    position: relative;
    height: 100%;
    width: 100%;

    @extend %titleFont;

    &.Right {
        margin: 0 0 auto 0;
    }

    &.Left {
        margin: 0 0 0 auto;
    }
}

:global(.SlideContent) {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    justify-content: center;

    @include breakpoints.respond(mobile) {
        justify-content: flex-end;
    }
}

:global(.Character) {
    position: absolute;
    z-index: layers.zPushUp(layers.$z-page, 10);
    bottom: -100px;

    height: 100%;
}

:global(.Background) {
    position: absolute;
    object-fit: cover;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-position: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.2);
    }
}

:global(.TextContainer) {
    text-align: center;
    z-index: layers.zPushUp(layers.$z-page, 10);

    @include breakpoints.respond(laptop) {
        font-size: 0.8em;
    }

    @include breakpoints.respond(mobile) {
        padding: 1.5em 1.5em 4em;
        font-size: 0.6em;
    }

    p {
        font-size: 1.2em;
        font-weight: lighter;
        z-index: layers.zPushUp(layers.$z-page, 11);
        margin-top: 0;

        @include breakpoints.respond(mobile) {
            font-size: 1.5em;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        letter-spacing: 3px;
        font-weight: lighter;
        z-index: layers.zPushUp(layers.$z-page, 11);
        text-transform: uppercase;
    }

    h2 {
        font-size: 2em;
    }
}

svg {
    z-index: layers.zPushUp(layers.$z-page, 11);
}
