@import "./../../settings/global.scss";
@import "./../../settings/layers.scss";

:global(.PageContent) {
    padding: 3em 5em;
    position: relative;
    height: 100%;
    width: 100%;

    @extend %titleFont;

    &.Right {
        margin: 0 0 auto 0;
    }

    &.Left {
        margin: 0 0 0 auto;
    }
}

:global(.SlideContent) {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    justify-content: center;
}

:global(.BigTitle) {
    position: absolute;
    z-index: $z-page;
    font-size: 12em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    top: 0.5em;
}

:global(.Character) {
    position: absolute;
    z-index: zPushUp($z-page, 10);
    bottom: 0;
}

:global(.Background) {
    position: absolute;
    object-fit: cover;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-position: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.2);
    }
}

:global(.TextContainer) {
    text-align: center;
    z-index: zPushUp($z-page, 10);

    p {
        font-size: 1.2em;
        font-weight: lighter;
        z-index: zPushUp($z-page, 11);
        margin-top: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        letter-spacing: 3px;
        font-weight: lighter;
        z-index: zPushUp($z-page, 11);
        text-transform: uppercase;
    }

    h2 {
        font-size: 2em;
    }
}

svg {
    z-index: zPushUp($z-page, 11);
}
