@import "./../../settings/layers.scss";

:global(.SlideContent) {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    &.Center {
        justify-content: center;
    }
}

:global(.BigTitle) {
    margin-top: 2em;
    margin-bottom: 2em;
    z-index: $z-page;
    font-size: 12em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

:global(.Character) {
    position: absolute;
    z-index: zPushUp($z-page, 10);
}

:global(.Background) {
    position: absolute;
    object-fit: cover;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-position: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.2);
    }
}

:global(.TextContainer) {
    text-align: center;
    z-index: zPushUp($z-page, 10);

    p {
        font-size: 1.2em;
        font-weight: lighter;
        z-index: zPushUp($z-page, 11);
        margin-top: 0;
    }

    h2 {
        letter-spacing: 3px;
        font-size: 2em;
        font-weight: lighter;
        z-index: zPushUp($z-page, 11);
    }
}

svg {
    z-index: zPushUp($z-page, 11);
}
