@use "@/settings/global.scss" as global;
@use "@/settings/layers.scss" as layers;
@use "@/settings/materials.scss" as materials;
@use "@/settings/fonts.scss" as fonts;
@use "@/settings/breakpoints.scss" as breakpoints;

.SynopsisNav {
  @include materials.darkGlass;
  position: fixed;
  z-index: layers.$z-internal-ui;
  bottom: 0;
  height: global.$barSize;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100vw - #{global.$barSize} - #{global.$barSize});
  border-width: 2px 0 0;

  @include materials.glassEdge;

  @include breakpoints.respond(mobile) {
    width: calc(100vw - #{global.$barSize});
  }

  .Controller {
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    width: 55px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: rgba(255, 255, 255, 0.05);
    }

    img {
      width: 40px;
      padding: 0.75em;
      transform: rotateZ(270deg);
    }

    &:last-child {
      img {
        transform: rotateZ(90deg);
      }
    }
  }

  .Items {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;

    @include breakpoints.respond(mobile) {
      flex: 1;
    }

    button {
      display: flex;
      justify-content: center;
      padding: 0 3em;
      @include fonts.navFont;
      text-align: center;
      min-width: 150px;
      max-width: 300px;
      line-height: global.$barSize;
      border: none;
      outline: none;
      background: transparent;
      cursor: pointer;

      @include breakpoints.respond(mobile) {
        display: none;

        &.Active {
          display: flex;
          flex: 1;
          background: transparent !important;
        }
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
