@import "settings/layers.scss";

.Overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: zPushUp($z-ui, 10);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
}
