@import "../../../../settings/breakpoints.scss";
@import "../../../../settings/layers.scss";

.BigTitle {
    position: absolute;
    z-index: $z-page;
    top: 1em;

    @include respond(desktop) {
        font-size: 9em;
    }

    @include respond(laptop) {
        font-size: 7em;
    }

    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    top: 0.5em;
}
