@import "settings/global.scss";
@import "settings/layers.scss";
@import "settings/breakpoints.scss";

.Container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: $barSize;

  @include respond(mobile) {
    padding-left: 0;
  }
}

.ModalNav {
  margin: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: zPushUp($z-ui, 10);

  img {
    cursor: pointer;
  }
}
