@import "./../../../settings/global.scss";
@import "./../../../settings/layers.scss";
@import "./../../../settings/materials.scss";
@import "./../../../settings/fonts.scss";

.SynopsisNav {
  @include darkGlass;
  position: fixed;
  z-index: $z-internal-ui;
  bottom: 0;
  width: 100vw;
  padding: 0 $barSize;
  height: $barSize;
  display: flex;
  flex-direction: row;

  @include glassEdge;
  border-width: 2px 0 0;

  .SynopsisNav-Controller {
    width: 40px;
    height: auto;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      padding: 0.75em;
      transform: rotateZ(270deg);
    }

    &:last-child {
      img {
        transform: rotateZ(90deg);
      }
    }
  }

  .items {
    display: flex;
    width: calc(100vw - #{$barSize} - #{$barSize});

    overflow-x: auto;

    a {
      display: flex;
      justify-content: center;
      padding: 0 3em;
      @include navFont;
      text-align: center;
      min-width: 150px;
      max-width: 300px;
      line-height: $barSize;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
