@import "./../../../settings/global.scss";
@import "./../../../settings/layers.scss";
@import "./../../../settings/materials.scss";
@import "./../../../settings/fonts.scss";
@import "./../../../settings/breakpoints.scss";

.SynopsisNav {
    @include darkGlass;
    position: fixed;
    z-index: $z-internal-ui;
    bottom: 0;
    height: $barSize;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100vw - #{$barSize} - #{$barSize});

    @include respond(mobile) {
        width: calc(100vw - #{$barSize});
    }

    @include glassEdge;
    border-width: 2px 0 0;

    .Controller {
        border: none;
        background: transparent;
        cursor: pointer;
        outline: none;
        width: 55px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background: rgba(255, 255, 255, 0.05);
        }

        img {
            width: 40px;
            padding: 0.75em;
            transform: rotateZ(270deg);
        }

        &:last-child {
            img {
                transform: rotateZ(90deg);
            }
        }
    }

    .Items {
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;

        @include respond(mobile) {
            flex: 1;
        }

        button {
            display: flex;
            justify-content: center;
            padding: 0 3em;
            @include navFont;
            text-align: center;
            min-width: 150px;
            max-width: 300px;
            line-height: $barSize;
            border: none;
            outline: none;
            background: transparent;
            cursor: pointer;

            @include respond(mobile) {
                display: none;

                &.Active {
                    display: flex;
                    flex: 1;
                    background: transparent !important;
                }
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
