@import "settings/global.scss";
@import "settings/breakpoints.scss";

.ProfileContent {
  position: relative;
  padding: 3em 0;
  height: 100%;

  @extend %titleFont;
}

.Role {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.5em 2em;
  text-align: right;

  span {
    font-weight: 600;
  }

  p {
    margin: 0;
  }
}
