@import "settings/global.scss";
@import "settings/breakpoints.scss";

.ProfileContent {
  position: relative;
  padding: 3em 0;
  height: 100%;

  @extend %titleFont;
}

.Nav {
  display: flex;
  align-items: center;
  height: 4em;

  @include respond(mobile) {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
  }

  a {
    color: white;
    padding: 0 1em;
    margin: 0 1em;
    height: 100%;
    line-height: 4em;

    @include respond(mobile) {
      height: auto;
    }
  }

  &:before {
    content: "";
    background: white;
    width: 350px;
    height: 2px;
    margin-right: 2em;

    @include respond(mobile) {
      display: none;
    }
  }
}

.Role {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.5em 2em;
  text-align: right;

  span {
    font-weight: 600;
  }

  p {
    margin: 0;
  }
}
