.TransitionGroup {
    .Background {
        position: relative;
    }
}

.blur-enter {
    .PageContent {
        p, span, h1, h2, h3, h4, h5 {
            opacity: 0;
        }
    }

    .Background {
        opacity: 0;
        filter: blur(10px);
        transform: scale(1.5);
    }
}

.blur-enter.blur-enter-active {
    .PageContent {
        p, span, h1, h2, h3, h4, h5 {
            opacity: 1;
            transition: opacity 300ms;
        }
    }

    .Background {
        opacity: 1;
        filter: blur(0px);
        transform: scale(1);
        transition-property: opacity, filter, transform;
        transition-duration: 300ms, 300ms, 300ms;
        transition-delay: 200ms, 0s, 0s;
    }
}

.blur-exit {
    .PageContent {
        p, span, h1, h2, h3, h4, h5 {
            opacity: 1;
        }
    }

    .Background {
        opacity: 1;
        filter: blur(0px);
        transform: scale(1);
    }
}

.blur-exit.blur-exit-active {
    .PageContent {
        p, span, h1, h2, h3, h4, h5 {
            opacity: 0;
            transition: opacity 300ms;
        }
    }

    .Background {
        opacity: 0;
        filter: blur(10px);
        transform: scale(1.5);
        transition-property: opacity, filter, transform;
        transition-duration: 300ms, 300ms, 300ms;
        transition-delay: 200ms, 0s, 0s;
    }
}