@import "./global.scss";
@import "./layers.scss";

body {
  background: black;
  height: 100vh;
  overflow: hidden;
}

.Container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;

  &.Respect-TopBar {
    padding-top: $barSize;
  }

  &.Respect-SideBars {
    padding-left: $barSize;
    padding-right: $barSize;
  }

  &.Respect-AllBars {
    padding: $barSize;
  }

  &.Respect-CastNav {
    padding-left: calc(#{$barSize} + 300px);
  }

  &.CenterContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &.Layout-Horizontal {
    flex-direction: row;
  }

  &.SlidesContainer {
    overflow-y: scroll;
  }
}

.Background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: zPushDown($z-background, 50);
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
