@import "./global.scss";
@import "./layers.scss";
@import "./breakpoints.scss";

body {
    background: black;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.Container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;

    &::-webkit-scrollbar {
        display: none;
    }

    &.CenterContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &.Layout-Horizontal {
        flex-direction: row;
    }

    &.SlidesContainer {
        overflow-y: scroll;
    }
}

.Respect-TopBar {
    padding-top: $barSize;
}

.Respect-SideBars {
    padding-left: $barSize;
    padding-right: $barSize;

    @include respond(mobile) {
        padding-left: 0;
    }
}

.Respect-AllBars {
    padding: $barSize;

    @include respond(mobile) {
        padding-left: 0;
    }
}

.Respect-CastNav {
    padding-left: calc(#{$barSize} + 300px);
}
