@import "./global.scss";

.Container {
    display: flex;
    height: 100vh;
    padding: 0;

    &.Respect-TopBar {
        padding-top: $barSize;
    }

    &.Respect-SideBars {
        padding-left: $barSize;
        padding-right: $barSize;
    }

    &.Respect-AllBars {
        padding: $barSize;
    }

    &.CenterContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &.Layout-Horizontal {
        flex-direction: row;
    }
}

h1.MainTitle {
    font-size: 8em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

.Background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}