//Materiales definidos para los componentes
@mixin darkGlass {
    background-color: rgba(#000, .2);
    backdrop-filter: blur(4px);
}

@mixin glassEdge {
    border-style: solid;
    border-color: rgba(#fff, .1);
}
