@import "settings/layers.scss";

.Grid {
  display: flex;
  width: auto;
  max-width: 1800px;
  margin: 0 auto;
  pointer-events: none;
}

.Column {
  padding: 0 1rem;
  background-clip: padding-box;
  pointer-events: none;

  > img {
    width: 100%;
    margin: 1rem;
    pointer-events: all;
  }
}

.Fullscreen {
  position: fixed;
  display: flex;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: zPushUp($z-ui, 100);
}

.FullscreenImage {
  margin: auto;
}

.Overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
