@import "../../../settings/global.scss";
@import "../../../settings/breakpoints.scss";

.Ribbon {
    position: absolute;
    color: white;
    @extend %titleFont;
    font-size: 5em;
    height: 100%;
    left: $barSize;

    @include respond(laptop) {
        font-size: 3.5em;
    }

    .Text {
        position: absolute;
        bottom: calc(#{$barSize} + 1em);
        overflow: hidden;

        .Index,
        .Name {
            display: inline-block;
            line-height: 1em;
            margin: 0 0 0 60px;
        }

        .Index {
            margin-right: 0.5em;
            font-size: 3em;
        }
    }

    .Rectangle {
        position: absolute;
        z-index: -1;
        bottom: 0;
        width: 300px;
    }
}
