@import "../../../settings/global.scss";
@import "../../../settings/breakpoints.scss";

.Ribbon {
    position: absolute;
    color: white;
    @extend %titleFont;
    font-size: 4em;
    height: 100%;
    left: $barSize;

    @include respond(laptop) {
        font-size: 3em;
    }

    @include respond(mobile) {
        left: 0;
        font-size: 0.8em;
        width: calc(100% - #{$barSize});
        height: calc(100% - #{$barSize * 1.5});
    }

    @include respond(mini-mobile) {
        font-size: 0.7em;
    }

    .Text {
        position: absolute;
        bottom: calc(#{$barSize} + 1em);
        overflow: hidden;

        .Index,
        .Name {
            white-space: normal;
            display: block;
            line-height: 1em;
            margin: 0 0 0 $barSize;

            @include respond(mobile) {
                font-size: 4em;
                white-space: wrap;
                margin-left: 1rem;
            }
        }

        .Index {
            margin-right: 0.5em;
            font-size: 3em;

            @include respond(mobile) {
                font-size: 4em;
            }
        }
    }

    .Rectangle {
        position: absolute;
        z-index: -1;
        bottom: 0;
        width: 300px;

        @include respond(mobile) {
            width: $barSize * 1.4;
        }
    }
}
