@use "@/settings/global.scss" as global;
@use "@/settings/materials.scss" as materials;
@use "@/settings/layers.scss" as layers;
@use "@/settings/fonts.scss" as fonts;
@use "@/settings/breakpoints.scss" as breakpoints;

.Panel {
  overflow: hidden;
  position: absolute;

  &.Left {
    left: global.$barSize;
    top: global.$barSize;

    @include breakpoints.respond(mobile) {
      position: static;
    }
  }

  &.Right {
    right: global.$barSize;
    bottom: global.$barSize;

    @include breakpoints.respond(mobile) {
      position: static;
    }
  }

  @include breakpoints.respond(tablet-portrait) {
    display: none;
  }

  @include breakpoints.respond(mobile) {
    display: block;
  }

  .Content {
    @include materials.darkGlass;
    @include fonts.cardFont;

    margin: 4em 0;
    padding: 0 2em 3em 3em;
    color: white;
    width: 500px;

    @include breakpoints.respond(laptop) {
      width: 450px;
    }

    @include breakpoints.respond(mobile) {
      width: 100%;
    }

    h1 {
      margin: 1em 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 1.5em;
      display: inline-block;
      margin-bottom: 0;
    }

    .Indicator {
      position: absolute;
      top: 0;
      width: 30px;
      height: 4px;

      animation-name: indicator-enter;
      animation-duration: 0.4s;
      animation-timing-function: ease-out;
    }

    @keyframes indicator-enter {
      0% {
        transform: translateX(-100px);
      }
      100% {
        transform: translateX(0px);
      }
    }

    &::after {
      @include materials.darkGlass;
      content: "";
      position: absolute;
      bottom: -20px;
      right: 2em;
      height: 20px;
      width: 150px;

      @include breakpoints.respond(mobile) {
        display: none;
      }
    }

    button {
      @include fonts.buttonFont;
      cursor: pointer;
      position: absolute;
      bottom: -20px;
      width: 150px;
      height: 40px;
      right: 2em;
      z-index: layers.$z-internal-ui;
      background: transparent;

      border: 2px solid;

      animation-name: button-enter;
      animation-duration: 0.4s;
      animation-timing-function: ease-out;
    }

    @keyframes button-enter {
      0% {
        transform: translateX(500px);
      }
      100% {
        transform: translateX(0px);
      }
    }
  }
}
